{"configSettings":[{"appID":"SharedServerToken","serverToken":"CBQV3U4EV3KJYCZK67E2F4BJ7LRM74TF"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"411138711256147","serverToken":"VJRBWZSUNSG6EPIVR3NDOUQVNI62GASB"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"463614296164425","serverToken":"CBQV3U4EV3KJYCZK67E2F4BJ7LRM74TF"}]}